# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
dist-ssr
server/dist
public/dist


.vscode



# Debug
*.log

# Misc
.DS_Store
*.pem

coverage.json

# Storybook
storybook-static

# Ignore local configuration files
*.local
.cache
